.bord{
    display: inline-block;
    background-color: #e0ffff;
    height: 200px;
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 400px;
    width: 400px;
    border-radius: 0.5cm;
}
.img1{
    border-radius: 50%;
    height: 125px;
    width: 125px;
}
.name{
    margin-left: 200px;
    margin-top: -100px;
}
.familyname{
    margin-left: 190px;
    margin-top:-20px;
}
.jensiat{
    margin-left: 20px;
   
}